@import "utils";

// 全局默认字体大小
$font-size_base: pxToVw(24px);

// 全局默认主题颜色
$theme-color_primary: #009688;
$theme-color_default: #ffffff;
$theme-color_warning: #FF5722;

// border
$border-width_base: 1px !default;
$border-style_base: solid !default;
$border-color_base: #009688 !default;
$border-base: $border-width_base $border-color_base $border-style_base !default;
$border-none: none !default;

// button
// 背景颜色
$button-bg_default: $theme-color_default !default; // default
$button-bg_primary: $theme-color_primary !default; // primary
$button-bg_warning: $theme-color_warning !default; // warning

// 字体颜色
$button-color_default: #555 !default; // default
$button-color_primary: #fff !default; // primary
$button-color_warning: #fff !default; // warning

// 按钮边框
$button-border_default: $border-width_base $border-style_base $theme-color_primary;
$button-border_primary: $border-width_base $border-style_base $theme-color_primary;
$button-border_warning: $border-width_base $border-style_base $theme-color_warning;

// 间距
$button-padding_small: pxToVw(12px) pxToVw(30px) !default; // 小
$button-padding_medium: pxToVw(16px) pxToVw(40px) !default; // 中
$button-padding_big: pxToVw(20px) pxToVw(50px) !default; // 大

// 字体
$button-font_small: pxToVw(20px) !default; // 小
$button-font_medium: pxToVw(24px) !default; // 中
$button-font_big: pxToVw(28px) !default; // 大

// 圆角
$button-radius_small: pxToVw(4px) !default; // 小
$button-radius_medium: pxToVw(6px) !default; // 中
$button-radius_big: pxToVw(8px) !default; // 大